<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bargain Vapers | Sign Up</title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "/vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>

  <center><h1>Create Account</h1></center>
  
  
  <div class="row">
    <div class="large-4 columns">
      <%= form_for(@user) do |f| %>
      	<%= render 'shared/error_messages' %> 

      <%= f.label :name %>
      <%= f.text_field :name, placeholder: 'John Smith' %>

      <%= f.label :email %>
      <%= f.text_field :email, placeholder: 'myemail@myemail.com' %>

      <%= f.label :phone %>
      <%= f.text_field :phone, placeholder: '555-555-5555' %>

      <%= f.label :address %>
      <%= f.text_field :address, placeholder: '123 Park St.' %>

    
      <%= f.label :state %>
      	<div class="state">
      		<%= f.select(:state, options_for_select(us_states)) %>
      	</div>
      

      <%= f.label :zipcode %>
      <%= f.text_field :zipcode, placeholder: '12345' %>
      

      

      <%= f.label :password %>
      <%= f.password_field :password, placeholder: 'password must be at least 6 characters' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, placeholder: 're-enter password' %>
      	<div align="center">
      <%= f.submit "Create Account", class: "round button large" %>
      	</div>
    
   <% end %>
   </div>

   <div class="large-8 columns">

  
     
      <ul class="large-block-grid-3">
        
        
        <li><a href="#"><img src="/assets/smoketechzmax_r.jpg" /><pre>     Smoktech Vmax</pre></a></li>
        <li><a href="#"><img src="/assets/lavatube-red-kit_r.jpg" /><pre>Volcano Lavatube 2 Red</li>
        <li><a href="#"><img src="/assets/magneto_r.jpg" /><pre>   Smoktech Magneto</pre></li>
        
        <li><a href="#"><img src="/assets/inferno-bct-kit-black_r.jpg" /><pre>Volcano Inferno Black</a></li>
        <li><a href="#"><img src="/assets/inferno-bct-kit-silver_r.jpg" /><pre> Volcano Inferno Red</li>
        <li><a href="#"><img src="/assets/aio_r.jpg" /><pre>  Henley AIO Classic</a></li>
        <li><a href="#"><img src="/assets/pyrex_r.jpg" /><pre>    Volcano Pyrex</a></li>
        <li><a href="#"><img src="/assets/coolfire_r.jpg" /><pre>  Innokin Coolfire 2</li>
        <li><a href="#"><img src="/assets/ucan_r.jpg" /><pre>     Innokin Ucan </li>


      </ul>

   </div></div>
   <%= yield %>
    <%= javascript_include_tag "application" %> 

    <script src="assets/javascripts/foundation.js"></script>
    <script src="assets/javascripts/foundation.orbit.js"></script>
    <script src="assets/javascripts/foundation.topbar.js"></script> 
    <script src="assets/javascripts/foundation.tooltip.js"></script> 
    <script src="assets/javascripts/foundation.reveal.js"></script>
    <script src="assets/javascripts/foundation.dropdown.js"></scripts>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>